<div class="container">
    <div class="container-grafico-doun">
        <div class="grafico-doun">
            <p-chart type="doughnut" [data]="data1" [options]="options1"></p-chart>
        </div>
    </div>
    <div class="card">
        <div class="text-grafico">
            <span class="text-title">Caixas digitalizadas:</span>
            <span>Média de itens digitalizados: 31.257 itens</span>
            <span>Média de arquivos digitalizados: 389.712</span>
        </div>
    </div>
    <div class="card">
        <div class="text-grafico">
            <span text-title>Livros digitalizadas:</span>
            <span>Média de itens digitalizados: 31.257 itens</span>
            <span>Média de arquivos digitalizados: 389.712</span>
        </div>
    </div>
</div>