app-dashboard{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
app-layout{
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}